@import 'variables';

.chip {
    padding: 1px 6px;
    background-color: $chipColor;
    color: #000;
    border-radius: $radius;
    // box-shadow: 1px 1px 3px $highlightBg;
    box-shadow: $shadow-standard;

    font-size: 11px;
    font-weight: 600;
    text-wrap: nowrap;

    display: flex;
    gap: 4px;
    align-items: center;

    $icon-size: 11px;


    .pi {
        display: block;
    }

    &.primary-chip {
        background-color: $primaryColor;
        color: $primaryColorText;
    }

    &.grey-chip {
        background-color: $editButtonColor;
    }

    &.big {
        padding: 3px 12px;
        font-size: 14px;
    }

}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5*$padding-standard;
}

.chip-label {
    margin-bottom: 0.5*$padding-standard;
}