$primaryColorText: var(--primary-color-text);

$primaryColor: var(--primary-color);
$primaryHover: var(--primary-hover);
$primary600: var(--primary-600);

$primary2: $primaryColor'50';

$secondaryColor: var(--secondary-color);
$textSecondaryColor: var(--text-secondary-color);

$bg: $primaryColorText;
$highlightBg: var(--highlight-bg);
$highlightTextColor: var(--highlight-text-color);

$textColor: var(--text-color);
$fontFamily: var(--font-family);
$inlineSpacing: var(--inline-spacing);

$borderRadius: var(--border-radius);
$borderRadius2: calc(1.5 * #{$borderRadius});
$borderRadius3: calc(2 * #{$borderRadius});

$surfaceBorder: var(--surface-border);
$border: 1px solid $surfaceBorder;
$stepBorder: var(--step-border);

$formBg: var(--form-bg);
$formColor: var(--form-color);
$formBorderColor: var(--form-border-color);
$formBorder: var(--form-border);
$formBorderActive: var(--form-border-active);
$formControlShadow: var(--form-control-shadow);

$bgTwo: var(--bg-two);
$bgTwoText: var(--bg-two-text);


$focusRing: var(--focus-ring);
$maskBg: var(--mask-bg);

$bgOneCourtine: var(--bg-one-courtine);

$primaryTransparent: rgba(var(--primary-color),  0.9);

$grey: var(--grey);
$white: var(--white);
$inputBg: var(--input-bg);

$yellow: var(--yellow);

$yellowDark: var(--yellow-dark);

$yellowTransparent: var(--yellow-transparent);

$green: var(--green);
$greenLight: var(--green-light);
$greenDark: var(--green-dark);

$labelColor: var(--label-color);
$controlBg: var(--control-bg);
$borderColor: var(--border-color);
$placeholderColor: var(--placeholder-color);

$chipColor: var(--chip-color);
$editButtonColor: var(--edit-button-color);