@font-face {
    font-family: 'Baron'; /* Name you choose for the font */
    src: url('../fonts/baron.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import 'variables';

$family: 'Montserrat', sans-serif;

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: $textColor;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.9px;
    word-break: break-word;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

.baron {
    font-family: 'Baron', sans-serif;
    text-transform: lowercase;
}

.desktop {
    .fs1 {
        font-size: 37.5px;
    }
    .fs2 {
        font-size: 30px;
    }
    .fs3 {
        font-size: 20px;
        &.with-spacing {
            letter-spacing: 0.1em;
        }
    }
}

.fs1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.08em;
}

.fs2 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    &.with-spacing {
        letter-spacing: 0.1em;
    }
}

.fs3 {
    font-size: 16px;
    font-weight: 500;
}

.fs4 {
    @extend .fs3;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.fs5 {
    font-size: 12px;
}

.btn-font {
    font-size: 16px;
    font-weight: 600;
    @extend .baron;

    .label {
        position: relative;
        margin-top: -3px;
    }
}

.text-shadow {
    text-shadow: $text-shadow;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}
