@import 'variables';
@import 'font';
@import 'form-variables';

$control-width: 300px;
$button-width: 150px;
$control-width-max: 400px;

.form-page {
    margin-left: $padding-standard;
    margin-right: $padding-standard;
    margin-top: 2*$padding-standard;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 450px;

    padding-top: 60px;
    padding-bottom: 60px;
}

.form-wrapper {
    background-color: $bgTwo;
    border: 1px solid $surfaceBorder;
    padding: 1rem;
    margin-bottom: 2*$padding-standard;
    border-radius: 12px;
    color: $formColor;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $padding-standard;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2*$padding-standard;
}

.form-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: $primaryColor;
    margin-top: $padding-standard;
    margin-bottom: $padding-standard;
}


.field-label {
    margin-bottom: 0.3*$padding-standard;
    padding-left: 0.75rem;
    p {
        font-size: 12px;
        color: $primaryColor;
    }
}

.field-control {
    min-width: $control-width;
    width: 100%;
    // max-width: $control-width-max;
}

.form-buttons {
    margin-top: 2*$padding-standard;
    display: flex;
    justify-content: center;
    gap: $padding-standard;

}


@media only screen and (min-width: $desktop) {
    .form-grid {
        grid-template-columns: max-content max-content;
        gap: $padding-standard;
        column-gap: 2*$padding-standard;
        &.column {
            grid-template-columns: 1fr;

            .field-control {
                max-width: 100%;
            }
        }
    }

    .form-buttons {
        .form-button, .p-button {
            min-width: $button-width;
        }
    }

    .double-size {
        grid-column: span 2;
    }

    .form-wrapper {
        padding: 2rem;
        width: unset;
    }
    
}


.p-dropdown {
    background-color: $formBg;
    display: flex;
    color: $formColor;
    max-height: 46px;
    border: $formBorder;
}

.p-dropdown,
.p-inputtext,
.p-calendar {
    width: 100%;
}

.form-grid textarea {
    @extend .p-inputtext;
    border: $formBorder;
    border-radius: $radius-control;
}

.p-inputtext {
    background-color: $formBg;
    color: $formColor;
    &.p-component {
        border: $formBorder;
    }
}

app-dropdown.ng-dirty.ng-invalid .p-component,
.p-element.ng-dirty.ng-invalid input,
.p-inputtext.ng-dirty.ng-invalid {
    border: 2px solid #e24c4c;
}

::placeholder {
    color: $formColor;
}

.p-dropdown-panel {
    background-color: $formBg;
    box-shadow: $shadow-standard;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: $formColor;
}
.p-dropdown .p-dropdown-trigger,
.p-dropdown .p-dropdown-clear-icon {
    color: $formColor;
}
.p-dropdown-panel .p-dropdown-header,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: $highlightBg;
    color: $primaryColor;
    border-color: $surfaceBorder;
}
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    border-color: $formBorderActive;
}
.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem $formControlShadow;
}

.item-template {
    display: flex;
    align-items: center;
    gap: 0.5*$padding-standard;
}
.item-image {
    max-height: 25px;
    &.item-image-border {
        border: .5px solid $surfaceBorder;
        border-radius: 3px;
    }
}
.with-image {
    .item-image {
        height: 40px;
        width: auto;
    }
}
.p-dropdown-filter-container {
    height: 38px;
    input {
        height: 100%;
    }
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    color: $formColor;
    margin-top: -8px;
}

.separation {
    margin-bottom: 2*$padding-standard;
    width: 100%;
}

@media only screen and (min-width: $desktop) {
    .form-page {
        min-height: 600px;
    }
}


