@import 'variables';

$form-shadow: 0px 0px 20px rgb(0 0 0 / 20%);

$form-radius: $borderRadius;
$input-radius: 12px;
$input-border: 1px solid $borderColor;
$form-transition: $transition-standard;
$input-active-shadow: 0px 0px 8px $yellow;
$input-error-shadow: 0px 0px 8px $primaryColor;

$control-padding-y: 8px;
$control-padding-x: 15px;
$control-padding: $control-padding-y $control-padding-x;

$selector-item-height: 50px;
$selector-img-height: 40px;