@import 'variables';

.panel {
    padding-top: $header-height;
    display: flex;
    height: 100%;
}

.profile-view-content {
    background-color: $highlightBg;
    width: 100%;
    min-height: 90vh;
}

.panel-container {
    padding: 0 .5*$padding-standard 2*$padding-standard;
}

.panel-breadcrumb {
    padding: .5*$padding-standard;
    padding-bottom: 0;
}

.panel-section {
    padding: 0;
}

.panel-section-content,
.panel-section-header {
    padding: $padding-standard;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

    .right-section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $padding-standard;
    }
}

.bookings-header {
    padding: $padding-standard;
}

.booking-header {
    display: flex;
    justify-content: space-between;
}

.booking-item {
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: $desktop) {
    .booking-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .panel-container {
        padding: 0 $padding-standard 2*$padding-standard;
    }
    
    .panel-breadcrumb {
        padding: $padding-standard;
    }
}

.item-row {
    padding: 0.8*$padding-standard 0.8*$padding-standard;   
    display: grid;
    align-items: center;
    width: 100%;
    padding-top: .5*$padding-standard;
    padding-bottom: .5*$padding-standard;
}

.labels {
    margin-right: $padding-standard;
    .item-row {
        p {
            font-size: 14px;
            color: $primaryColor;
        }
    }
}

.item-row-collapse-content {
    display: block;
}

.item-row-buttons {
    display: flex;
    gap: $padding-standard;
    flex-wrap: wrap;
}

.item-row-files {
    @extend .item-row-buttons;
}

.section-buttons {
    display: flex;
    gap: $padding-standard;
}
.panel-breadcrump {
    margin-bottom: $padding-standard;
}

@media only screen and (min-width: $desktop) {
    .item-row-collapse-content { 
        padding: $padding-standard;
    }
}

