@import 'variables';

$circle-size: 1.6rem;
$substep-circle-size: 20px;

.p-stepper-panel {
    display: flex;
    flex-direction: column;
    flex: initial;
    &.p-stepper-panel-active {
        flex: 1 1 auto;

        .p-toggleable-content,
        .p-stepper-toggleable-content {
            overflow: unset;
        }
    }
}

.substep-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: $padding-standard;
}


.p-stepper-panel:last-of-type .p-stepper-content {
    padding-left: calc($circle-size + 0.5*$padding-standard);
}


.p-stepper-header {
    padding: 0.5*$padding-standard;

    .p-stepper-action {
        border: 0 none;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-right: 4*$padding-standard;
    }
}


.substep-haeder {
    width: 100%;
    display: inline-flex;
    align-items: center;
    
    .pi {
        color: $grey;
        margin-right: 0.5*$padding-standard;
    }

    &.blank {
        .pi {
            color: $grey;
        }
    }

    &.available {
        .pi {
            color: $grey;
        }
    }

    &.ready {
        .pi {
            color: $green;
        }
    }

    &.error {
        .pi {
            color: $primaryColor;
        }
    }
}

.substep-icon {
    font-weight: 900;
}