@import 'color-theme';

$tablet: 768px;
$desktop: 1024px;
$hugeScreen: 1280px;
$maxScreen: 1440px;
$xxl: 1600px;

$scroll-width: 6px;

$padding-standard: 16px;
$desktop-margin: 7vw;
$desktop-margin-huge: 12vw;

$view-padding-top: 100px;
$view-padding-top-mobile: 100px;

$avatarSize: var(--avatar-size);
$avatarSizeDesktop: var(--avatar-size-desktop);

$header-height: 50px;

$sidebar-width: 250px;

$page-padding-big: 14vw;
$radius: 3px;
$radius-control: 6px;

$shadow-standard: 1px 1px 6px #00000050;
$transition-standard: all 0.16s ease-in-out;
$text-shadow: 0px 2px 1px $highlightBg;
$text-shadow-primary: 0px 2px 1px $primaryColor;
$card-shadow: 0 0 16px $primaryColor;

$border-shadow: 0 3px 5px $primaryColor;